p {
	color: white;
}

h1 {
	font-size: 3vw;
	color: white;
}

h2 {
	font-size: 1.5vw;
	color: white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Style the header */
.header {
	grid-area: header;
	background-color: #1f4720;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	border: 1px solid black;
}

/* The grid container */
.grid-container {
	display: grid;
	grid-template-areas: 'header header header header header header' 'left middle middle middle middle right'
		'footer footer footer footer footer footer';
	grid-auto-columns: minmax(10vw, 100vw);
	width: 100vw;
	height: 100vh;
	/* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
	padding: 10px;
	border: 1px solid black;
}

/* Style the left column */
.left {
	grid-area: left;
	background-color: rgba(0, 84, 63, 1);
}

/* Style the middle column */
.middle {
	grid-area: middle;
	position: relative;
	background-image: url("2.png");
	background-size: 100%;
}

.middlecenter {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Style the right column */
.right {
	grid-area: right;
}

/* Style the footer */
.footer {
	grid-area: footer;
	background-color: #595959;
	padding: 0px;
	text-align: center;
	border: 1px solid black;
}

.button {
	background-color: #4caf50; /* Green */
	border: 1px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1vw;
	margin: 4px 2px;
	cursor: pointer;
	width: 100%;
	border-radius: 12px;
}

.button1 {
	background-color: #4caf50; /* Green */
	border: 1px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vw;
	margin: 4px 2px;
	cursor: pointer;
	width: 100%;
	border-radius: 12px;
	box-shadow: 0 1px #999;
}

.button:hover {
	background-color: #3e8e41;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 3px #666;
	transform: translateY(2px);
}

.button1:hover {
	background-color: #3e8e41;
}

.button1:active {
	background-color: #3e8e41;
	box-shadow: 0 3px #666;
	transform: translateY(2px);
}
